@font-face {
  font-family: "actay-wide";
  src: url("../fonts/ActayWide-Bold.otf");
}
html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

.onest-font {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.actay-wide-font {
  font-family: "actay-wide";
  font-optical-sizing: auto;
  font-style: normal;
}

.transition-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  background-color: #201B1B;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #201B1B;
  border-radius: 0 0 20px 20px;
  padding: 10px 32px;
}
body header .buttons .call-button {
  border: 1px solid #6C6565;
  padding: 16px 25px;
}
body header .buttons .course-button {
  border: 1px solid #DC3545;
  text-transform: uppercase;
  padding: 16px 20px;
}
body main h1 {
  text-transform: uppercase;
}
body main .course-button {
  border: 2px solid #DC3545;
  text-transform: uppercase;
  padding: 16px 26px;
}
body #our-courses {
  padding: 200px 32px;
}
body #our-courses .course-box {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 1s;
}
body #our-courses .course-box div i {
  padding: 8px;
  border: 1px solid white;
  border-radius: 12px;
}
body #our-courses .course-box div p {
  width: 280px;
}
body #our-courses .course-box:hover .card-click {
  bottom: 0;
  opacity: 1;
}
body #our-courses .card-click {
  position: absolute;
  bottom: -300px;
  left: 0;
  width: 100%;
  height: 363px;
  background-color: white;
  transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
body #our-courses .card-click p {
  width: 100% !important;
}
body #our-courses .bg-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("../images/image.svg");
  background-size: cover;
  background-position: center;
}
body #our-courses .bg-2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/image (1).svg");
  background-size: cover;
  background-position: center;
}
body #our-courses .bg-3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/image (2).svg");
  background-size: cover;
  background-position: center;
}
body #advantages .advantage-box {
  background-color: rgba(255, 255, 255, 0.04);
}
body #reviews {
  padding: 200px 66px;
}
body #reviews .content {
  padding: 40px 0px 40px 40px;
}
body #reviews .content .reviews-bg {
  border-radius: 20px;
  background: url("../images/Frame 54.svg") center/cover no-repeat;
  padding: 0;
  width: 100%;
  height: 506px;
  margin-top: -39px;
}
body #reviews .course-button {
  padding: 12px 16px;
}
@media only screen and (max-width: 1024px) {
  body #reviews {
    padding: 66px 66px;
  }
}
body #reviews__comments {
  padding: 200px 0;
}
body #reviews__comments .swiper-container {
  width: 100%;
  max-width: 900vh;
  height: 400px;
  overflow: hidden;
  position: relative;
}
body #reviews__comments .swiper-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
body #reviews__comments .swiper-title span {
  color: #ff0033;
}
body #reviews__comments .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  gap: 24px;
}
body #reviews__comments .swiper-slide {
  flex: 0 0 50%;
  max-width: 564px;
  width: 100%;
  height: 310px;
  background-color: #F4F4F4;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(214, 212, 212, 0.2);
  text-align: center;
  padding: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
body #reviews__comments .swiper-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  body #reviews__comments .swiper-slide {
    flex: 0 0 100%;
  }
}
body #reviews__comments .swiper-line-button {
  font-size: 50px;
  color: white;
  cursor: pointer;
  transition: color 0.4s ease-in-out, font-size 0.4s ease-in-out;
}
body #reviews__comments .swiper-line-button.active {
  font-size: 80px;
  color: #DC3545;
}
body #contact {
  padding: 64px 32px;
}
body #contact .map {
  margin-top: 30px;
}
body footer .gradient-hr {
  border: none;
  color: transparent;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

@keyframes moving {
  100% {
    top: 300;
  }
}/*# sourceMappingURL=style.css.map */